---
import Layout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const pageTitle = "ライター";

const authors = await getCollection("author");
const sortedAuthors = [
  ...authors.filter((author) => author.id === "noodles"),
  ...authors.filter((author) => author.id !== "noodles"),
];
---

<Layout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <ul id="authors">
    {
      sortedAuthors.map((author) => (
        <li>
          <a href={`/author/${author.id}`}>
            <p>{author.data.shortMessage}</p>
            <h2>{author.data.name}</h2>
          </a>
        </li>
      ))
    }
    {
      // 空の要素を追加して最後の行を埋める
      Array.from({ length: (3 - (sortedAuthors.length % 3)) % 3 }).map(() => (
        <li class="placeholder" />
      ))
    }
  </ul>
</Layout>
