---
import Image from "astro/components/Image.astro";
import { getCollection } from "astro:content";

const { content } = Astro.props;
const formattedDate = content.data.pubDate.toLocaleString("ja-JP", {
  year: "numeric",
  month: "2-digit",
  day: "2-digit",
  timeZone: "Asia/Tokyo",
});
const authorsCollection = await getCollection("author");
const authors = authorsCollection.filter((author) =>
  content.data.author.includes(author.id),
);
---

<style>
  .post {
    padding: 10px;
    margin: 10px 8px;
    width: 30%;
    border-bottom: 0.4px black solid;
  }

  .post a {
    width: 60%;
    ;
    text-decoration: none;
  }

  .post img {
    width: 100%;
    min-width: 200px;
  }

  .post-detail {
    width: 100%;
  }

  .post-detail h2 {
    margin: 0;
    font-size: large;
    font-weight: bold;
  }
  .post-author a{
    margin-right: 10px;
  }
  @media (max-width: 710px) {
    .post {
      display: flex;
      width: 100%;
      padding: 0;
    }
    .post-detail {
      margin-left: 10px;
    }
    .post-detail h2 {
      font-size: 15px;
    }
  }
  /* @media (max-width: 768px) {
    .post img {
      width: 30%;
    }

    .post-detail h2 {
      font-size: 1.2rem;
    }
  } */
</style>

<li class="post">
  <a href={`/blog/${content.slug}`}>
    <Image src={content.data.thumbnail.url} alt={content.data.thumbnail.alt} />
  </a>
  <div class="post-detail">
    <a href={`/blog/${content.slug}`}><h2>{content.data.title}</h2></a>
    <span class="post-author">
      {
        authors.map((author) => (
          <a href={`/author/${author.id}`}>{author.data.name}</a>
        ))
      }
    </span>
    <br />
    <span class="post-time">{formattedDate}</span>
  </div>
</li>
