---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const { data } = Astro.props;
const formattedDate = data.pubDate.toLocaleString("ja-JP", {
  year: "numeric",
  month: "2-digit",
  day: "2-digit",
  timeZone: "Asia/Tokyo",
});
const authorsCollection = await getCollection("author");
const authors = authorsCollection.filter((author) =>
  data.author.includes(author.id),
);
---

<h1>{data.title}</h1>
<p>{formattedDate}</p>
{
  data.storeName && (
    <div class="pin">
      <Image src="/images/pin.png" alt={"pin"} width="1" height="1"/>
      {data.storeName}
    </div>
  )
}
{data.lastDate && <p>更新: {data.lastDate.toString().slice(0, 10)}</p>}
<p id="authors">
  {
    authors.map((author) => (
      <a class="author" href={`/author/${author.id}`}>
        {author.data.name}
      </a>
    ))
  }
</p>
<p id="description"><em>{data.description}</em></p>
<ul class="tags">
  {
    data.tags.map((tag) => (
      <li class="tag">
        <a href={`/tags/${tag}`}>#{tag}</a>
      </li>
    ))
  }
</ul>
<div id="imageContainer">
  <Image loading="eager" quality="high" src={data.thumbnail.url} width="1080" alt={data.thumbnail.alt} />
</div>
{data.map && <div id="map" set:html={data.map} />}
