---
import Image from "astro/components/Image.astro";

// Astroコンポーネントのpropsを取得
const {
  logo,
  platformName,
  link,
  description,
  backgroundColor,
} = Astro.props;
---

<style>
  .link-card {
    display: flex;
    margin-top: 20px;
    align-items: center;
    padding: 0.8rem 1.8rem ;
    border: 0.5px solid rgb(190, 190, 190);
    border-radius: 16px;
    text-decoration: none;
    background-color: var(--background-color);
    transition: background-color 0.3s ease;
    box-shadow: 0 0.5px 3px rgba(0,0,0,0.3);  }

  .logo {
    width: 40px;
    height: auto;
    margin-right: 1.5rem;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .platform-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.2rem 0;
  }

  .description {
    margin: 0.4rem 0;
    font-size: 0.9rem;
    color: #666;
  }
</style>

<a href={link} class="link-card" style={`--background-color: ${backgroundColor};`} target="_blank" rel="noopener noreferrer">
  <Image src={logo} alt={`${platformName} logo`} class="logo" />
  <div class="content">
    <h3 class="platform-name">{platformName}</h3>
    <p class="description">{description}</p>
  </div>
</a>
