---
import BaseLayout from "./BaseLayout.astro";
import "../styles/markdown.css";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>投稿日:{frontmatter.pubDate.toString().slice(0, 10)}</p>
  {
    frontmatter.lastDate && (
      <p>最終投稿日: {frontmatter.lastDate.toString().slice(0, 10)}</p>
    )
  }
  <p style="color: rgb(97, 97, 97);"><em>{frontmatter.description}</em></p>
  <p>著者: {frontmatter.author}</p>
  <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
  <ul class="tags">
    {
      frontmatter.tags.map((tag) => (
        <li class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </li>
      ))
    }
  </ul>

  <slot />
  <script is:inline>
    const blockquotes = document.querySelectorAll("blockquote");
    blockquotes.forEach((blockquote) => {
      const paragraphs = blockquote.querySelectorAll("p");
      paragraphs.forEach((p) => {
        const text = p.textContent;
        if (
          text.startsWith("引用元:") ||
          text.startsWith("出典:") ||
          text.startsWith("参考文献:")
        ) {
          p.classList.add("right-aligned");
        }
      });
    });

    const paragraphs = document.querySelectorAll("p");
    paragraphs.forEach((paragraph) => {
      const text = paragraph.textContent;
      if (text.startsWith(":::note") && text.endsWith(":::")) {
        const div = document.createElement("div");
        div.classList.add("note");
        let cleanedText;
        if (text.slice(7, -3).startsWith(" warn")) {
          div.classList.add("warn");
          cleanedText = text.slice(12, -3);
        } else if (text.slice(7, -3).startsWith(" alert")) {
          div.classList.add("alert");
          cleanedText = text.slice(13, -3);
        } else {
          div.classList.add("info");
          cleanedText = text.slice(12, -3);
        }
        cleanedText = cleanedText.replace(/\n/g, "<br>");
        cleanedText = cleanedText.replace(/^<br>/, "");
        div.innerHTML = cleanedText;

        paragraph.replaceWith(div);
      }
    });
  </script>
</BaseLayout>
